@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url('/grid.png');
  background-size: 200% 200%;
  background-position: top;
  background-repeat: repeat;
  background-color: #221C33;
  animation: moveDiagonal 30s linear infinite;
}

@keyframes moveDiagonal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% -200%;
  }
}

.app-container {
  padding: 10%;
}


h1 {
  font-family: 'Orbitron', sans-serif;
  color: #F4D7F5;
  text-align: center;
  text-shadow: 0px 0px 16px #DD65D8;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 5px;
}

ul {
  padding: 0px;
}

li {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  text-align: left;
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  border: none;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

/* custom checkboxes */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkmark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px solid #F4D7F5;
  box-shadow: 0px 0px 16px 0px #DD65D8;
  transition: border-color 0.3s;
}

.checkbox:checked + .checkmark::before {
  box-shadow: inset 1em 1em #F4D7F5;
  border: 3px solid #F4D7F5;
}


.add-btn {
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 50px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #612E8A;
      border: 1px solid #9A62C7;
      box-shadow: 0px 0px 16px #DD65D8;
      transform: skewX(15deg);
      z-index: -1; 
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.add-btn button {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100px;
  height: 40px;
}

.tasks-container {
  width: 600px;
  margin: auto;
}

.tasks-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}